{% extends 'base.html' %}

{% block app_content %}
	{% if not current_user.is_anonymous %}
		<h3>Welcome {{current_user.username}}!</h3>
	{% else %}
		<h3>Welcome Anonymous</h3>
	{% endif %}
	{% if not current_user.is_anonymous %}
	<h3>Create Form:</h3>
	<form action=" {{ url_for('create_form') }} " method="POST">
		<button type="submit">Create Form</button>
	</form>
	{% endif %}

	{% if (not current_user.is_anonymous) and current_user.recieved_invitations|length > 0 %}
		<h3 style="margin-bottom: 20px;">Dashboard:</h3>

		{% for invitation in current_user.recieved_invitations %}
			{% include 'form_invitation.html' %}

		{% endfor %}

	{% endif %}

{% endblock %}